@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.overlay1 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #a3a3a3;
    overflow: hidden;
    width: 150px;
    height: 0;
    transition: .5s;
    opacity: 0.8;
    margin-right: 20px;
}

.con:hover .overlay1 {
    position: absolute;
    bottom: 6px;
    height: 150px;
    border-radius: 1.5rem;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14bf96;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border-radius: 1.5rem;
}

.float-container {
    border: 3px solid #fff;
    width: 98%;
    border-radius: 1.5rem;
    margin-top: 35px;
}

.float-child {
    width: 100%;
    float: left;
    padding: 20px;
    border: 2px solid #14bf96;
    border-radius: 5px;
    height: 550px;
    margin-bottom: 25px;
}

.p_ingredient {
    font-size: 20px;
    font-family: "Amiri", serif;
    color: black;
    text-align: right;
}

.p_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.scrollbar {
    margin-left: 30px;
    float: right;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.scrollbar-danger {
    scrollbar-color: #ff3547 #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}

.scrollbar-warning {
    scrollbar-color: #FF8800 #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

.scrollbar-success {
    scrollbar-color: #00C851 #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}

.scrollbar-info {
    scrollbar-color: #33b5e5 #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
}

.scrollbar-default {
    scrollbar-color: #2BBBAD #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
}

.scrollbar-secondary {
    scrollbar-color: #aa66cc #F5F5F5;
}

/* *******************list->ol*********************** */

ol {
    max-width: 100%;
    counter-reset: my-awesome-counter;
    list-style: none;
}

ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    right: 0px;
}

ol li::before {
    content: counter(my-awesome-counter);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    right: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}

.popup1 {
    z-index: 90;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.31);
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(20, 191, 150);
    -moz-box-shadow: 0px 5px 40px -10px rgba(20, 191, 150);
    transition: all 0.3s ease 0s;

}
 @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

        body {
            font-family: "Amiri", serif;
            max-height: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Amiri", serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }

        .logo p {
            color: #14bf96;
            font-size: 30px;
            font-family: "Amiri", serif;
        }

        .Hotbg {
            position: absolute;
            top: 40%;
            left: 25%;
            /* margin-left: 180px; */
            transform: translate(-50%, -50%);
            background: #14bf96;
            height: 60px;
            border-radius: 40px;
            padding: 10px;

        }

        .Hotbg:hover>.Hotbg-txt {
            width: 240px;
            padding: 0 6px;
        }

        .Hotbg:hover>.Hotbg-btn {
            background: azure;
            color: black;
        }

        .Hotbg-btn {
            color: #e84118;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #14bf96;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            color: azure;
            cursor: pointer;
        }

        .Hotbg-btn>i {
            font-size-adjust: 30px;
        }

        a {
            text-decoration: none;
        }

        .Hotbg-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: azure;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
            font-weight: bold;
        }
